<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #e9e3e3;
      padding: 2rem 5rem;
    }

    .container {
      background-color: #fff;
      font-family: Arial, Helvetica, sans-serif;
    }

    .header {
      background-color: #eef2ff;
      box-shadow: 0px 2px 8px 0px rgba(55, 48, 163, 0.08);
      padding: 0.8rem 1rem;
      margin: 0;
      box-sizing: border-box;
      position: relative;
    }

    .header h3 {
      margin: 0;
      margin-left: 0.2rem;
    }

    .header button {
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: 1px solid var(--Indigo-indigo-600, #4f46e5);
      background: var(--Base-White, #fff);
      position: absolute;
      top: 50%;
      left: 0;
      margin-left: 1rem;
      transform: translateY(-50%);
      color: #4f46e5;
      font-weight: 800;
      font-size: 0.875rem;
    }

    .content {
      padding: 1.5rem 5rem 0 5rem;
    }

    .content h4 {
      margin: 0 0 0.2rem 0;
      font-weight: 400;
    }

    .content p {
      margin: 0;
      line-height: 1.5rem;
    }

    .applicant-wrapper {
      padding: 1.5rem 5rem;
      background-color: #fff;
    }

    .applicant>table {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .applicant>table tr td:nth-last-child(1) {
      float: right;
    }

    .applicant .card {
      border-radius: 12px;
      border: 1px solid #eef2ff;
      box-shadow: 0px 4px 16px 0px rgba(49, 46, 129, 0.04);
      padding: 1.5rem;
      margin: 1rem 0;
    }

    .applicant .card table {
      width: 100%;
    }

    .allCandidates table {
      background-color: #4f46e5;
      border-radius: 8px;
      background: #4f46e5;
      padding: 0.8rem 4rem;
      border: none;
      font-size: 1rem;
    }

    .allCandidates {
      color: white;
      text-decoration: none;
    }

    .footer {
      background: var(--Neutral-Grey-50, #f8fafc);
      padding: 1.5rem 1rem;
    }

    .footer p {
      text-align: center;
      margin: 0;
    }

    .footer .Unsubscribe-wrapper span {
      border-bottom: 1px solid #475569;
      color: var(--Neutral-Grey-600, #475569);
    }

    .footer .Unsubscribe-wrapper .border-height {
      height: 0.5rem;
      border-left: 1px solid #e0e7ff;
    }

    .footer p {
      margin: 0.5rem 0;
      color: #64748b;
    }

    .footer .social-mediaIcon-align tr td {
      padding: 0 0.5rem;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <button>JOB PORTAL</button>
      <table align="center">
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <img src="https://imgur.com/YOg2KXR.png" alt="profile-icon" />
                </td>
                <td>
                  <h3>Best candidate suggestions</h3>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <div class="content">
      <h4>Hi {{job.userName}} 👋,</h4>
      <h4>Your job is now live on <a href={{job.portalLink}}>Job Portal</a>.</h4>
      <p>We have found the best matching candidates for your role.</p>
    </div>

    <div class="applicant-wrapper">
      <div class="applicant">
        <table>
          <tr>
            <td style="color: #312e81">
              <span style="margin-right: 0.3rem;">{{job.title}}</span>
              <img src="https://imgur.com/Dt7yewb.png" alt="angularIcon" />
            </td>
            <td>
              <a href={{job.jobApplicantListLink}}><span style="border-bottom: 1px solid black;">{{job.applicantCount}}
                  Applicants</span></a>
            </td>
          </tr>
        </table>

        {{#each jobSeekers}}

        <div class="card">
          <table>
            <tr>
              <td>
                <img src="https://imgur.com/YOg2KXR.png" alt="profileIcon" />
              </td>
              <td>
                <table>
                  <tr>
                    <td>
                      <span style="margin-right: 0.3rem;color: #0F172A;font-weight: 700;">{{jobSeekerName}}</span>
                      <img src="https://imgur.com/Dt7yewb.png" alt="angularIcon" />
                    </td>
                    <td style="
                                  border-radius: 4px;
                                  background: #f1f5f9;
                                  padding: 0.5rem 0.8rem;
                                  text-align: center;
                                ">
                      <span style="color: #4f46e5">{{jobSeekerSkillsMatched}}</span> skills matched
                    </td>
                  </tr>
                </table>
                <p style="margin: 0;color: #64748B;">{{jobDetails}}</p>
              </td>
            </tr>
          </table>
          <div style="
                        border-bottom: 1px solid #e0e7ff;
                        width: 100%;
                        margin: 0.8rem 0;
                      "></div>
          <table style="color: #64748B;">
            <tr>
              <td>
                <img src="https://imgur.com/BoesjjM.png" alt="location" />
                <span style="margin-left: 0.4rem">{{jobSeekerLocations}}</span>
              </td>
              <td>
                <img src="https://imgur.com/CGHVJDE.png" alt="experience" />
                <span style="margin-left: 0.4rem">{{experience}}</span>
              </td>
            </tr>
            <tr>
              <td>
                <img src="https://imgur.com/b5mVew5.png" alt="time" />
                <span style="margin-left: 0.4rem">{{jobSeekerNoticePeriod}}</span>
              </td>
              <td>
                <img src="https://imgur.com/4WMlsU7.png" alt="moneyLogo" />
                <span style="margin-left: 0.4rem">{{currentSalary}}</span>
              </td>
            </tr>
          </table>
        </div>
        {{/each}}
        {{!-- <div class="card">
          <table>
            <tr>
              <td>
                <img src="./image/profile.png" alt="" />
              </td>
              <td>
                <table>
                  <tr>
                    <td>
                      <span style="margin-right: 0.3rem;color: #0F172A;font-weight: 700;">Albert Flores</span>
                      <img src="./image/angular1.png" alt="angularIcon" />
                    </td>
                    <td style="
                          border-radius: 4px;
                          background: #f1f5f9;
                          padding: 0.5rem 0.8rem;
                          text-align: center;
                        ">
                      <span style="color: #4f46e5">90%</span> skills matched
                    </td>
                  </tr>
                </table>
                <p style="margin: 0;color: #64748B;">Team Lead Sales @ Leadsqaured</p>
              </td>
            </tr>
          </table>
          <div style="
                border-bottom: 1px solid #e0e7ff;
                width: 100%;
                margin: 0.8rem 0;
              "></div>
          <table style="color: #64748B;">
            <tr>
              <td>
                <img src="./image/location.png" alt="location" />
                <span style="margin-left: 0.4rem">New Delhi</span>
              </td>
              <td>
                <img src="./image/experience.png" alt="experience" />
                <span style="margin-left: 0.4rem">years</span>
              </td>
            </tr>
            <tr>
              <td>
                <img src="./image/time.png" alt="time" />
                <span style="margin-left: 0.4rem">30 days</span>
              </td>
              <td>
                <img src="./image/moneyLogo.png" alt="moneyLogo" />
                <span style="margin-left: 0.4rem">8 LPA pa</span>
              </td>
            </tr>
          </table>
        </div> --}}
        <div>
          <table align="center">
            <tr>
              <td>
                <a href={{allLink}} class="allCandidates">
                  <table>
                    <tr>
                      <td>All Candidates</td>
                    </tr>
                  </table>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="footer">
      <table align="center">
        <tr class="Unsubscribe-wrapper">
          <td><span>Unsubscribe</span></td>
          <td class="border-height">
            <div></div>
          </td>
          <td><span>Report a problem</span></td>
        </tr>
      </table>
      <p>
        You have received this mail because your e-mail ID is registered with jobportal.com. This is a system-generated
        e-mail,
        please don't reply to this message.
        <br>
        Please do not pay any money to anyone who promises to find you a job. jobportal shall not have any
        responsibility in this
        regard. We recommend that you visit our Terms & Conditions and the Security Advice for more information.
      </p>
      <table align="center" class="social-mediaIcon-align">
        <tr>
          <td align="center">
            <a href="https://www.facebook.com/ratnaglobaltech" class="achorforLogo">
              <img src="https://imgur.com/5Dz2dXb.png" alt="facebook" class="socialLogo">
            </a>
            <a href="https://www.instagram.com/ratnaglobaltech" class="achorforLogo">
              <img src="https://imgur.com/KdWIvnJ.png" alt="instagram" class="socialLogo">
            </a>

            <a href="https://www.linkedin.com/company/ratnaglobaltech" class="achorforLogo">
              <img src="https://imgur.com/pP6FASo.png" alt="linkedin" class="socialLogo">
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>